/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', sans-serif;
}
/* MENU BAR*/
#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    transition: .55s;
    z-index: 500;

}
#bars{
    display: none;
}
#menu-mobile{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: white;
    width: 70%;
    height: 100%;
    z-index: 1000;
}

#menu-mobile ul{
    list-style: none;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#menu-mobile a{
    text-decoration: none;
    font-size: 1.5em;
    color: rgba(0, 0, 0, .5);
}
#menu-mobile a:hover::after{
    height: 0;
}
#menu span{
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    user-select: none;

}

#nome{
    font-weight: 900;
    padding-left: 15px;
    font-size: 2em;
}

#sobre-nome{
    opacity: .550;
    font-weight: 100;
    padding-left: 7px;
    font-size: 2em;
    transition: 1.1s;
}

#menu:hover{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}
#menu:hover #sobre-nome{
    opacity: 1;
    font-size: 2.1em;
    transition: 1.1s ease-in-out;
}

#menu ul{
    position: absolute;
    right: 0;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}
#menu a{
    display: flex;
    cursor: pointer;
    text-decoration: none;
    justify-content: right;
    color: rgba(0, 0, 0, .6);
    padding-right: 50px;
    font-size: 1.4em;
    position: relative;
    top: 0;
    right: 0;
}
#menu #bars i{
    font-size: 1em;
}
#menu a:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    width: 60%;
    justify-content: center;
    height: 3px;
    background-color: rgba(92, 121, 209,1);
    transition: 2s;
    
}

/* DIV TOP ANIMADA*/

#top-animated{
    top: 55px;
    left: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    clear: both;
}
#top-animated::after{
    clear: both;
    content: '';
    display: table;
}
#imagem img{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: 0;
    width: 90%;
    height: 100%;

}

#sol{
    position: absolute;
    display: flex;
    top: 35px;
    left: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(228, 180, 104, 0.6);
    z-index: 2;
}
#lua{

}
/* SOBRE */

#sob{
    height: 50px;
}

#sobre{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    
}
#title-sobre{
    margin-top: 160px;
    padding: 20px;
    display: flex;
    font-size: 3em;
    color: rgba(0, 0, 0, 1);
}
#text-sobre{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    font-size: 1.3em;
    position: relative;
    text-align: left;
    padding: 20px 20px;


}
#img-sobre img{
    display: flex;
    padding: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
}

/* SERVICOS */
#ser{
    height: 50px;
}

#title-servicos{
    /* margin-top: 50px;
    margin-left: 50px; */
    padding: 20px;
    display: flex;
    font-size: 3em;
    color: rgba(0, 0, 0, 1);
}
#servicos{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    height: auto;
    flex-wrap: wrap;
}
#servicos img{
    width: 300px;
    height: 200px;
    border-radius: 5px;

}
#servicos div{
    margin-top: 20px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 1);
}
/* CONTATO */

#con{
    height: 50px;
}
#title-contato{
    font-size: 3em;
    padding: 20px;
    display: flex;
    color: rgba(0, 0, 0, 1);
}
#contato{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    height: auto;
}
#contato a{
    text-decoration: none;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 1);
    padding: 20px;
}
#contato a#cont-inst:hover{
    color: purple;
}
#contato a#cont-twitt:hover{
    color: #00acee;
}
#contato a#cont-face:hover{
    color: #3b5998;
}
#contato a#cont-linke:hover{
    color: #0e76a8;
}
#contato i{
    margin-right: 5px;
    font-size: 1.1em;
}

/* FOOTER */
footer{
    font-size: 1.4em;
    padding: 20px;
    color: rgba(0, 0, 0, 1);
}

/* MEDIAS */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #top-animated{
        height: 500px;
    }
    #menu span{
        font-size: 1.3em;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    #top-animated{
        height: 600px;
    }
    #contato{
        flex-direction: column;
    }
    #sol{
        width: 50px;
        height: 50px;
    }
    #imagem img{
        height: 30%;
    }
    footer{
        font-size: 1em;
    }
    
    #bars{
        display: block;
    }
    #li-sobre{
        display: none;
    }
    #li-servicos{
        display: none;
    }
    #li-contato{
        display: none;
    }
    #menu span{
        font-size: 1.5em;
    }
  }