:root {
  --hue: 159;
  --background-color: #fff;
  --primary-color: hsl(var(--hue), 100%, 50%);
  --secondary-color: hsl(var(--hue), 100%, 65%);
  --primary-text-color: #000;
  --secondary-text-color: #595959;
}
/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 'Poppins', sans-serif;
}
body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

/* HEADER */

/* MAIN */

/* FOTTER */

/* Medias querys */

/* tablet and ipad landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (orientation: portrait) {
}

/* Mobile landscape and portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Mobile portrait */
@media (min-width: 280px) and (max-width: 480px) {
}
