/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Poppins&display=swap');
*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 30px;
    background-color: #fafafa;
    user-select: none;
}
#content.light{
    background-color: #fafafa;
    transition: all 1s;
}
#content.dark{
    background-color: #111;
    transition: all 1s;
}
#content.dark #soft,
#content.dark #des,
#content.dark div#theme i,
#content.dark i.fab,
#content.dark .sub-title,
#content.dark .title,
#content.dark .text-sobre,
#content.dark .text-contato,
#content.dark a#nav-contato,
#content.dark a{
    color: #fafafa;
}
#content.dark section div#foot{
    color: #fafafa;
}
#content.dark #nav-bar svg path{
    fill: #666666;
}
#content.dark #nav-bar span{
    color: #fafafa;
}
/* MENU BAR*/
section#nav-bar nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    flex-direction: row;
}
section#nav-bar nav a{
    text-decoration: none;
    color: #666666;
    font-weight: 400;
    padding-left: 20px;
}
section#nav-bar nav a#nav-contato:hover,
section#nav-bar nav a:hover{
    color: #0070ff;
    transition: 0.3s;
}
section#nav-bar nav a#nav-contato{
    color: #666666;
    font-weight: 600;
    font-size: 1.1rem;
}
section#nav-bar div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
div#icon span{
    color: #fafafa;
    font-size: 1.1rem;
    font-family: monospace;
    position: absolute;
    bottom: 0;
    left: 1;
    transform: translateY(3px);
}
div#icon svg{
    width: 30px;
    height: 30px;
}
div#icon svg:hover path{
    transition: 0.3s;
    fill: #0070ff;
}
section#nav-bar article#soft-des{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section#nav-bar article div{
    font-size: 7rem;
    font-weight: 800;
    font-family: "Inter", sans-serif;
}
section#nav-bar article#soft-des #soft{
    position: relative;
}
section#nav-bar #theme{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #666666;
}
section#nav-bar #theme i{
    color: #666666;
}
/* ESTILIZANDO */
section#nav-bar article#soft-des #soft::after{
    content: 'Software';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #0761d1, #0070ff,#3291ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
    width: 100%;
    height: 100%;
    animation: animate 8s infinite;
    
}
section#nav-bar article#soft-des #des::after{
    content: 'Design';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #eb367f, #ff0080,#f81ce5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
    animation: animate 8s  3s infinite;
}

@keyframes animate{
    0%,16%,100%{
        opacity: 1;
    }
    33%,83%{
        opacity: 0;
    }
}

/* SOBRE */

section#sobre{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: all 1s ease-in-out;
}
section#sobre.disable{
    display: flex;
    transform: translateX(-100px);
    opacity: 0;
}
section#sobre .sub-title{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
}
section#sobre .title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
section#sobre article{
    position: relative;
}
section#sobre article .text-sobre{
    margin-top: 5rem;
    text-align: justify;
    max-width: 500px;
    font-size: 2rem;
}

/* SERVICOS */
section#servicos{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: all 1s ease-in-out;
}
section#servicos.disable{
    display: flex;
    transform: translateX(100px);
    opacity: 0;
}
section#servicos .sub-title{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
}
section#servicos .title{
    font-size: 3rem;
    font-weight: 600;
}
section#servicos article#cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10rem;
    position: relative;
    cursor: pointer;
    
}
section#servicos article#cards div#card-design,
section#servicos article#cards div#card-software,
section#servicos article#cards div#card-automation{
    width: 300px;
    height: 400px;
    background-color: #fff;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid #0070ff;
}

section#servicos article#cards div.card-title{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
}
section#servicos article#cards div.card-text{
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 20px;
    color: #666666;
}
section#servicos article#cards div.card-giga{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
section#servicos article#cards div.card-giga img{
    width: 100px;
    height: 100px;
    background-color: #eaeaea;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
    transition: 1s;


}
section#servicos article#cards div.card-giga img:hover{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
/* CONTATO */
section#contato{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: all 1s ease-in-out;
}
section#contato.disable{
    display: flex;
    transform: translateX(-100px);
    opacity: 0;
}
section#contato article .sub-title{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    text-align: center;
}
section#contato article .title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}
section#contato article .text-contato{
    margin-top: 3rem;
    max-width: 500px;
    font-size: 2rem;
    text-align: justify;
}
section#contato article#links{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: initial;
    flex-direction: column;
    text-align: start;
}
section#contato article#links a,i{
    font-size: 1.2rem;
    margin-right: 5px;
    text-decoration: none;
}

/* FOOTER */
div#foot{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
    text-align: center;
}

/* MEDIAS */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    section#servicos article#cards{
        flex-direction: column;
        
    }
    section#contato article .text-contato,
    section#sobre article .text-sobre{
        font-size: 1.2rem;
    }
    section#servicos div.title,
    section#contato div.title,
    section#sobre div.title{
        font-size: 2rem;
    }
    section#servicos div.sub-title,
    section#contato div.sub-title,
    section#sobre div.sub-title{
        font-size: 0.8rem;
    }

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 280px to 479px
  */
  
  @media (min-width: 280px) and (max-width: 480px) {
    #content{
        max-width: 480px;
    }
    section#servicos article#cards{
        flex-direction: column;
        
    }
    section#nav-bar article div{
        font-size: 2rem;
    }
    section#contato article .text-contato,
    section#sobre article .text-sobre{
        font-size: 1rem;
    }
    section#servicos div.title,
    section#contato div.title,
    section#sobre div.title{
        font-size: 2rem;
    }
    section#servicos .sub-title,
    section#contato .sub-title,
    section#sobre .sub-title{
        font-size: 0.8rem;
    }
  }